/*ILUSTRACIONES*/
.ilustracion{
	width: 100%;
	position: absolute;
	top: 0; left: 250%;
	transition: all 1200ms ease-in-out;
}
.ilustracion #unasolapieza,
.ilustracion #palaypie,
.ilustracion #palapipingypie,
.ilustracion #tipoforro{
	position: relative; 
	left: 0px; 
	top:0px; 
	opacity:1;
	transition: all 600ms ease-in-out;
}

object.leyenda.leyenda_unasolapieza{
	display: none;
	width: 100%;
	height: 200px;
	position: absolute;
	top: 50px;
}

/*object#tipo_unasolapieza{
	position: absolute;
	top: 200px;
}*/

/*LEYENDAS*/
#leyenda_unasolapieza{ display: none; }

.pointer{ cursor: pointer; }
/* [id^="res-"]{width: 100%;  border-bottom: 1px solid rgba(0,0,0,0.3); padding: 5px 0px; display: flex; justify-content: center;flex-direction: column; align-items: flex-start;}*/
}


/*SVG*/
.pala.color1, .delantero.color1, .fondo.color1, .forroint.color1, .pretina.color1 {fill:#9c9ba0}
.pie.color1, .costado.color1, .vivo.color1, .vivoint.color1, .pretina.color4 {fill:#c3c5ca}
.piping.color1, .espalda.color1, .hilo.color1, .pretina.color3, .forriping.color1 {fill:#ffffff}
.color2 {fill:transparent;}

.hilo-ojales {fill:#dd0000}
.hilo-boton {fill:#dd0000}
